* {
    font-family: 'Lato';
}
html, body {
    margin: 0;
    text-align: center;
    height: 100%;
}
#taskHeader {
    font-family: 'Merriweather';
    font-size: 3.5em;
}
#taskInput {
    font-size: 2.5em;
    outline: none;
}
#taskInput:focus {
    border: 2px lightblue solid;
}
#taskList {
    list-style-type: none;
    font-size: 2em;
    padding: 0;
    height: 50%;
    overflow-y: scroll;
}
#taskList li label {
    padding: 5px 0;
    margin: 5px 0;
    cursor: pointer;
}
#taskList li:hover {
    background-color: rosybrown;
    color: white;
}
.done {
    text-decoration: line-through;
}
.btn {
    font-size: 1.2rem;
    background-color: #fff;
    border: 2px gray solid;
    padding: .5rem 1rem;
    outline: none;
}
.btn:active {
    background-color: #eee;
}