@font-face {
    font-family: pageFont;
    src: url('./fonts/Sansation_Light.ttf')
}
* {
    font-family: 'Source Sans Pro';
}
html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#page-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
#help-message {
    flex: 0 1 25px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    background-color: lightgray;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}
#content-container {
    flex: 1 1 100%;
    text-align: center;
}
#leading-question {
    text-align: center;
    font-size: 54px;
    font-family: pageFont;
}
#task-input {
    display: block;
    margin: auto;
    font-size: 36px;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
#task-input:focus {
    outline: none;
    border-bottom-color: lightblue;
}
#task-list {
    list-style-type: none;
    padding: 0;
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
}
#task-list li {
    position: relative;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    box-shadow: 1px 1px 2px #cccccc;
}
#task-list li:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px #cccccc;
    top: -2px;
}
#task-list li:active {
    box-shadow: 1px 1px 2px #cccccc;
    top: 0;
}